#errorMess{	
	color : red;
	text-align : center;
}
#errorMessV{	
	color : green;
	text-align : center;
	margin : 2%;
}
form{
	text-align : center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;

}
#insc {
	margin-top : 10%;
}

.blanc{
	color: white;
	
}

input{
	position : relative;
	padding :6px;

}