{% extends 'base.html.twig' %}
{% block title %}
Nous
{% endblock %}
{% block mid %}	
<div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <div class="col-md-12">
                            <h2>A propos de nous</h2>
                            <div class="row">
                                <div class="col-md-6 animate fadeIn">
                                    <img src="{{ asset('images/fillers/aboutme.jpg') }}" alt="about-me" class="margin-top-10">
                                    <ul class="list-inline about-me-icons margin-vert-20">
                                        <li>
                                            <a href="https://cdn.meme.am/instances/500x/51395073.jpg">
                                                <i class="fa-lg fa-border fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cdn.meme.am/instances/500x/51395073.jpg">
                                                <i class="fa-lg fa-border fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cdn.meme.am/instances/500x/51395073.jpg">
                                                <i class="fa-lg fa-border fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cdn.meme.am/instances/500x/51395073.jpg">
                                                <i class="fa-lg fa-border fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 margin-bottom-10 animate fadeInRight">
                                    <h3 class="padding-top-10 pull-left">Melodie Tanier, Emilie Couleard, Dominique Besson, Julien Dos Santos
                                        <small>- Createur de Sablier</small>
                                    </h3>
                                    <div class="clearfix"></div>
                                    <h4>
                                        <em>Actuellement en 2ème année de DUT Informatique à l'IUT Paris Descartes, nous avons créer le Sablier pour permettre à n'importe qui de voyager dans le temps.</em>
                                    </h4>
                                    <p>Julien est un véritable chimiste , maître des molécules, c'est à lui que l'on doit la creation du sablier. Melodie est la testeuse de voyage : c'est elle qui permet de verifier que le lieu et la date ne pose aucun problème pour le voyageur... Il ne faudrait pas se faire dévorer par un dinosaure ou couper la tête par un roi fou ! 
									Dominique, quant à lui, est notre historien préféré! Il connait l'histoire par coeur, et c'est grace à lui que les voyages sont si pertinents et riche en emotion! Emilie, enfin, est notre docteur : elle vous soigne lorsque vous vous desartibulez (eh oui, comme dans Harry Potter!).. en effet, le voyage dans le temps n'est pas sans risque: il y a une chance sur dix de mourir dans d'atroce souffrances </p>
                                     
                                </div>
                            </div>
                            <hr>
                            
                             <!-- End My Skills -->
                   
                                
                         
                            <!-- End Accordion -->
                        </div>
                    </div>
                </div>
</div>
{% endblock %}